*{
    /* border: 1px solid; */
    text-decoration: none;
    transition: 0.3s;
    list-style: none;
    color: #3a3b40;
    
}
@media (max-width: 654px){
    .contentPanel{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}
.container {
    box-shadow: 1px 1px #aaaaaa;
    background-color: #dfe1e4;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    border-radius: 0.3rem;
}
.container h2{
    text-decoration: underline;
}
.contentPanel, .header, .footer{
    box-shadow: 1px 1px #aaaaaa;
    border-radius: 0.3rem;
    background-color: #f4f4f5;
    width: 97%;
    display: flex;
    margin: 0.3rem;
    justify-content: space-around;
    align-items: center;
}
.contentPanel{
    min-height: 400px;
}
.header{
    background-color: #dfe1e4;
    box-shadow: none;
}
.buttonComp{
    cursor: pointer;
    border: none;
    font-size: 1.00rem;
    width: 8rem;
    height: 2rem;
    border-radius: 0.2rem;
    background-color: #3a3b40;
    color: white;
    margin: 3px;
}
.buttonComp:hover{
    opacity: 80%;
}   
.inputComp{
    margin: 3px;
}
.inputError{
    border-color: red;
}
.infoBoard, .successBoard{
    /* width: 90vw; */
    width: 80%;
    height: 100%;
    margin: 0.3rem;
    flex-wrap: wrap;

}
.successBoard{
    text-align: center;
}
/* ---------------IMGS---------------- */
.galery{
    display: flex;
    /* background-color: green; */
    height: 30%;
}
.costumeGalery{
    display: flex;
    flex-wrap: wrap;
}
.carouselImgs{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: flex-end;
    
}
.productImg{
    /* background-color: yellow; */
    width: 60%;
    height: 20%;
    /* margin: auto; */
}
.productImg:hover{
    opacity: 70%;
}
.productImgSale{
    background-color: purple;
    width: 60%;
    height: 90%;
    margin: auto;
}
.successImg{
    width: 25%;
    height: 25%;
}
/* ---------------------------------------- */
.navBtn{
    width: 49.5%;
    height: 60px;;
    text-align: center;
    background-color: #84b8d5;
    border-radius: 0.3rem;
    box-shadow: 1px 1px #aaaaaa;
}
.navBtn:hover{
    opacity: 80%;
}

.progBar{
    
    margin-left: 1.8%;
    width: 96.4%;
    align-self: flex-start;
    display: flex;
}
.stageBar{
    opacity: 50%;
    width: 25%;
    height: 20px;
    cursor: default;
    background-color: #3a403a;
    text-align: center;
    color: white;
    border: 1px solid gray;
}
.stageBar:hover{
    opacity: 60%;
}
