.container {
    background-color: blueviolet;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.contentPanel, .header, .footer{
    background-color: aquamarine;
    width: 97%;
    display: flex;
    height: 60px;
    border: 1px solid;
    margin: 2px;
}
.contentPanel{
    height: 400px;
}
.btn{
    cursor: pointer;
    border: none;
    text-decoration: none;
    font-size: 1.05rem;
    width: 8rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: brown;
}
.btn:hover{
    opacity: 80%;
}
.productImg{
    width: 250px;
    height: 250px;
    
}